<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="16.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Xamarin.Core" version="16.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="16.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Xamarin.SfSchedule" version="16.4.0.47" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.5.1.527436" targetFramework="net461" />
</packages>